.card-block {
  text-align: center;
}

.card-title {
  text-align: center;
  margin: 10px;
}

.card-img-top {
  height: 200px;
  width: 200px;
  display: block;
  margin: auto;
}

.health {
  background-color: green;
}

.stats {
  background-color: yellow;
}

.pokemon-level {
  text-align: left;
}

.level-type {
  background-color: cyan;
}

.card {
  width: 300px;
  max-width: 100
}

button {
  width: 130px;
  height: 50px;
  font-size: .95em;
  background-color: white;
}
.btn-center{
  text-align: center;
margin: 10px;
}
.btn-warning{
    background-color: #fffad6;
}
button:hover {
  background-color: #caccce;
  cursor: pointer;
}

#end-battle {
  text-align: center;
  font-size: 6em;
  color: white;
   text-shadow: 2px 2px 4px black;
   margin-top: 50px;
}

.xp-gained {
  padding: 0px;
  margin-bottom: 5px;
}


.myProgress {
  width: 300px;
  background-color: #bbe6a9;
}

#myBar {
  height: 30px;
  background-color: #4CAF50;
  text-align: center;
  line-height: 30px;
  color: white;
  max-width: 100%;
}


.enemyProgress {
  width: 300px;
  background-color: #bbe6a9;
}

#enemyProgressBar {
  height: 30px;
  background-color: #503e08;
  text-align: center;
  line-height: 30px;
  color: white;
  max-width: 100%;
}

.player-log {
  float: left;
}
.opponent-log {
  float: right;

}
