.image {
  position: relative;
  width: 100%;
}

.habitat {
  position: absolute;
  z-index: 2;
}

h1 {
  margin: 22px;
}

#habitat4 {
  margin-left: 900px;
}

#habitat8 {
  margin-left: 0px;
}
#habitat5 {
  margin-left: 500px;
}
#habitat2 {
  margin-left: 300px;
}
#habitat3 {
  margin-left: 700px;
}
#habitat7 {

}
#habitat6 {
  margin-left: 500px;
}
#habitat0 {
  margin-left: 400px;
}
#habitat1 {
  margin-left: 300px;
}
