body {
  font-size: 100%;
}

.image {
  position: absolute;
  width: 100%;
}

.habitat {
  position: relative;
  float: left;
  z-index: 1;
  width: 100%;
  padding-left: 0px;
}

h1 {
  font-size: 6vh;
  font-size: 6vw;
  font-family: "Berkshire-Swash";
  color: #f2ded5;
  text-shadow: 3px 5px 3px black;
}

h1:hover {
  text-decoration: underline;
  color: #f4bda1;
  transform: scale(1.02);
  cursor: pointer;
}

@font-face {
  font-family: "Berkshire-Swash";
  src: url("../../assets/fonts/BerkshireSwash-Regular.ttf");
}

.app-my-pokemon {
  background-color: pink;
}

.map-face {
  position: static;
}
