<div class="container equipped-pokemon">
  <h1>Equipped Pokemon</h1>
    <div class="card-deck">
    <div class="card" *ngFor="let pokemon of equippedPokemon">
      <img class="card-img-top" src='{{pokemon.sprites[0]}}' alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">{{pokemon.name}}</h4>
        <p class="card-text"></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Level: {{pokemon.level}}</li>
        <li class="list-group-item">HP: {{pokemon.currentHP.base_stat}}/{{pokemon.maxHP.base_stat}}</li>
      </ul>
      <div class="card-block">
        <a class="card-link" (click)="unequip(pokemon)">Unequip</a>
      </div>
    </div>
  </div>
</div>

<button *ngIf="!showAllPokemonBool" type="button" name="button" (click)="showAllPokemon()">Show All Pokemon</button>

<button *ngIf="showAllPokemonBool" type="button" name="button" (click)="showAllPokemon()">Hide All Pokemon</button>

<div class="container all-pokemon" *ngIf="showAllPokemonBool">
  <h1>Equipped Pokemon</h1>
    <div class="card all-pokemon-card" *ngFor="let pokemon of allPokemon">
      <img class="card-img-top" src='{{pokemon.sprites[0]}}' alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">{{pokemon.name}}</h4>
        <p class="card-text"></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Level: {{pokemon.level}}</li>
        <li class="list-group-item">HP: {{pokemon.currentHP.base_stat}}/{{pokemon.maxHP.base_stat}}</li>
      </ul>
      <div class="card-block">
        <a class="card-link" *ngIf="!pokemon.equipped" (click)=equip(pokemon)>Equip</a>
      </div>
  </div>
</div>
