<div class="row buffer"></div>

<div class="container equipped-pokemon">
  <div class="row trainerHeader">
      <h1><img src="https://vignette3.wikia.nocookie.net/pokemon/images/5/56/Red_%28game%29.png/revision/latest?cb=20090815115503" alt="" class="trainerImg"><span class="equipped-header">Equipped Pokemon {{equippedPokemon.length}}/6</span>
        <span *ngIf="!battling">
          <button (click) = "healPokemon()" type="button" class="btn btn-success" name="button">Heal My Pokemon</button>
        </span>
      </h1>

    </div>

    <div class="card-deck" *ngIf="!battling">
    <div [@flyInFromTop]="'in'" class="card card-equipped" *ngFor="let pokemon of equippedPokemon" >
      <img class="card-img-top" src='{{pokemon.sprites[0]}}' alt="Card image cap">
      <div class="card-block">
        <h4 *ngIf="pokemon.currentHP>0" class="card-title" >{{pokemon.name}}</h4>
        <h4 *ngIf="pokemon.currentHP===0" class="card-title" >{{pokemon.name}} (Fainted)</h4>
        <p class="card-text"></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Level: {{pokemon.level}}</li>
        <li class="list-group-item">HP: {{pokemon.currentHP}}/{{pokemon.maxHP}}</li>
      </ul>
      <div *ngIf="pokemon.equipped" class="isEquipped" (click)="unequip(pokemon)">
        Click to Unequip
      </div>
    </div>
  </div>

  <div class="card-deck" *ngIf="battling">
  <div class="card card-equipped" *ngFor="let pokemon of equippedPokemon" >
    <img class="card-img-top" src='{{pokemon.sprites[0]}}' alt="Card image cap">
    <div class="card-block">
      <h4 *ngIf="pokemon.currentHP>0" class="card-title" >{{pokemon.name}}</h4>
      <h4 *ngIf="pokemon.currentHP===0" class="card-title" >{{pokemon.name}} (Fainted)</h4>
      <p class="card-text"></p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Level: {{pokemon.level}}</li>
      <li class="list-group-item">HP: {{pokemon.currentHP}}/{{pokemon.maxHP}}</li>
    </ul>
    <div *ngIf="pokemon.currentHP>0"(click)="switchPokemon(pokemon)" class="swap">
      Swap!
    </div>
  </div>
</div>


  <div class="btns" *ngIf="!battling">
    <button *ngIf="!showAllPokemonBool" type="button" name="button" class="btn btn-info show-all-btn" (click)="showAllPokemon()">Show All Pokemon</button>
    <button *ngIf="showAllPokemonBool" type="button" name="button" class="btn btn-info show-all-btn" (click)="showAllPokemon()">Hide All Pokemon</button>
  </div>

</div>

<div class="container all-pokemon" *ngIf="showAllPokemonBool">
  <h1>All Pokemon</h1>
    <div  class="card all-pokemon-card" *ngFor="let pokemon of allPokemon" (click)=equip(pokemon) >
      <img class="card-img-top" src='{{pokemon.sprites[0]}}' alt="Card image cap">
      <div class="card-block">
        <h4 *ngIf="pokemon.currentHP>0" class="card-title" >{{pokemon.name}}</h4>
        <h4 *ngIf="pokemon.currentHP===0" class="card-title" >{{pokemon.name}} (Fainted)</h4>
        <p class="card-text"></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Level: {{pokemon.level}}</li>
        <li class="list-group-item">HP: {{pokemon.currentHP}}/{{pokemon.maxHP}}</li>
      </ul>
      <div *ngIf="pokemon.equipped" class="isEquipped">
        Equipped
      </div>
      <div *ngIf="!pokemon.equipped" class="notEquipped">
        Click to Equip
      </div>
    </div>
</div>
