.backgroundImage{
  position: fixed;
  top: 0;
  z-index: -1;
  height: 100%;
  width: auto;

}
.back{

}
.habitatName{
  font-size: 6em;
  color: white;
  padding: 50px;
    text-shadow: 2px 2px 4px black;
}
.search{
  font-size: 2em;
  padding: 20px;
  margin: 40px;
}
.btn:hover{
  cursor: pointer;
}
.habitatName button{
  font-size: .3em;
  margin-left: 50px;
}
.habitatName button:hover{
  cursor: pointer;
}
.searching{
  margin-top: 30%;
  color: white;
  text-align: center;
  font-size: 2em;
  text-shadow: 2px 2px 4px black;

}
