<div *ngIf="habitatToDisplay">

  <div *ngIf="habitatToDisplay.name==='cave'">
    <img src="../assets/images/cave.png" alt="" class="backgroundImage">
  </div>
  <div *ngIf="habitatToDisplay.name==='forest'">
    <img src="../assets/images/forest.jpg" alt="" class="backgroundImage">
  </div>
  <div *ngIf="habitatToDisplay.name==='mountain'">
    <img src="../assets/images/mountain.png" alt="" class="backgroundImage">
  </div>
  <div *ngIf="habitatToDisplay.name==='grassland'">
    <img src="../assets/images/grassland.gif" alt="" class="backgroundImage">
  </div>
  <div *ngIf="habitatToDisplay.name==='rough-terrain'">
    <img src="../assets/images/rough-terrain.jpg" alt="" class="backgroundImage">
  </div>
  <div *ngIf="habitatToDisplay.name==='sea'">
    <img src="../assets/images/sea.jpg" alt="" class="backgroundImage">
  </div>
  <div *ngIf="habitatToDisplay.name==='urban'">
    <img src="../assets/images/urban.gif" alt="" class="backgroundImage">
  </div>
  <div *ngIf="habitatToDisplay.name==='waters-edge'">
    <img src="../assets/images/waters-edge.jpg" alt="" class="backgroundImage">
  </div>
  <div *ngIf="habitatToDisplay.name==='rare'">
    <img src="../assets/images/rare.jpg" alt="" class="backgroundImage">
  </div>

  <div *ngIf="isSearching &&!newPokemon" >
    <h1 class="searching">Searching for Pokemon...</h1>
  </div>

  <div *ngIf="!isSearching">
    <div *ngIf="!newPokemon || !isSearching">

    <button type="button" (click)="stopSong()" routerLink="/map" class="btn btn-warning back">Back to map</button>

    <h1 class="habitatName" [@flyInFromTop]="'in'">{{habitatToDisplay.name.toUpperCase()}} </h1>

    <button (click)="stopSong()" [@flyInFromSide]="'in'"type="button" name="button" class="searchEasy search btn btn-success" (click)="searchHabitat(habitatToDisplay, 'easy')">Search - Easy</button>

    <button (click)="stopSong()" [@flyInFromSide]="'in'" type="button" name="button" class="searchMedium search btn btn-warning" (click)="searchHabitat(habitatToDisplay, 'medium')">Search - Medium</button>

    <button (click)="stopSong()" [@flyInFromSide]="'in'" type="button" name="button" class="searchHard search btn btn-danger" (click)="searchHabitat(habitatToDisplay, 'hard')">Search - Hard</button>
      </div>

  </div>
  </div>

<div *ngIf="newPokemon"><app-battle [opponent]="newPokemon"></app-battle></div>
