.jumbotron{
  background-image: url("/../assets/images/pokeball_bg.jpg");
  background-size: cover ;
padding-bottom: 800px;
background-repeat: no-repeat;
text-align: center;
background-position: center;
}
.title{
  letter-spacing: 5px;
  color: white;
   text-shadow: 2px 2px 4px black;
   font-size: 6em;

}
.nav{
  text-align: center;

}
.btnplay{
  margin-top: 100px;
  font-size: 2em;
}
.credits{
  bottom: 0;
  position: fixed;
}
.backToLogin{
  margin-top: 20px;
}


#anonymousIcon{
	height: 48px;
}
img#anonymousIcon:hover{
	cursor: pointer;
	transform: scale(1.1);
}

a:hover{
	cursor: pointer;
	transform: scale(1.1);
	color: green;
}
.delete{
margin: 20px;
}
.btn:hover{
  cursor: pointer;
}
