



<body>
  <a (click)="googleLogout()">Log out  <img id="anonymousIcon" src="./../assets/images/user.jpg" alt="user"></a>
  <div class="jumbotron">
    <h1 class="title">Pokemon Adventure</h1>

    <h1><button type="button" name="button" class="btn btn-warning btnplay" (click) = "stopSong()" routerLink="/map">Play!</button></h1>

    <p><button type="button" name="button" class="btn backToLogin">Back to Login</button></p>

    <p class="credits">By: Ben, Michael, Robert, Kim, and Jonathan</p>
  </div>
</body>
