<body>
  <!-- <a (click)="googleLogout()">Log out  <img id="anonymousIcon" src="./../assets/images/user.jpg" alt="user"></a> -->
  <div class="jumbotron">
    <h1 class="title">Pokemon Adventure</h1>

    <h1><button type="button" name="button" class="btn btn-warning btnplay" (click) = "goToGame()" >Play!</button></h1>

    <button type="button" name="button" (click)="deleteAllPokemon()" class="btn btn-danger delete">Delete Pokemon</button>
    <p class="credits">By: Ben, Michael, Robert, Kim, and Jonathan</p>
  </div>
</body>
